<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ local.name }} | Oxigenio Manaus</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/buttons.css" />
  <link rel="stylesheet" href="/css/page-local.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-local">



    <main class="animate-appear">
      <div class="orphanage-details">

        <div class="orphanage-details-content">
          <h1>{{local.name}}</h1>

          <p>{{local.description}}</p>

          <p>Endereço: {{local.address}}</p>
          <p>Ultima Atualização: {{local.last_update}}</p>

          <hr />

          <h2>Instruções</h2>

          <p>{{local.instructions}}
          </p>
          {{#if local.whatsapp}}
          <a href="https://api.whatsapp.com/send?l=pt_BR&phone={{local.whatsapp}}&text=Oi, {{local.name}}"
            target="_blank" class="primary-button" type="button">
            <img src="/images/whatsapp.svg" alt="Chamar no whatsapp" />
            Entrar em contato
          </a>
          {{/if}}
          <p>
            Cel:
            {{#each local.cel_formated}}
            {{this}};
            {{/each}}
          </p>
        </div>
      </div>
    </main>
  </div>
  {{>navbar}}
  {{>info}}

  <script src="/scripts/global.js"></script>
  <script src="/scripts/page-local.js"></script>

</body>

</html>